<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juphoon.rtc.datacenter.servicecore.mapper.AcdExtServiceLevelDailyMapper">
  <resultMap id="BaseResultMap" type="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdExtServiceLevelDailyPO">
    <!--@mbg.generated-->
    <!--@Table JRTC_ACD_EXT_SER_LEVEL_DAILY-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="DOMAIN_ID" jdbcType="DECIMAL" property="domainId" />
    <result column="APP_ID" jdbcType="DECIMAL" property="appId" />
    <result column="STAT_TIME" jdbcType="DECIMAL" property="statTime" />
    <result column="SKILL" jdbcType="VARCHAR" property="skill" />
    <result column="SERVICE_LEVEL" jdbcType="DECIMAL" property="serviceLevel" />
    <result column="CNT" jdbcType="DECIMAL" property="cnt" />
    <result column="UNIQUE_KEY" jdbcType="VARCHAR" property="uniqueKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, GMT_CREATED, GMT_MODIFIED, DOMAIN_ID, APP_ID, STAT_TIME, SKILL, SERVICE_LEVEL,
    CNT, UNIQUE_KEY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from JRTC_ACD_EXT_SER_LEVEL_DAILY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdExtServiceLevelDailyPO">
    <!--@mbg.generated-->
    insert into JRTC_ACD_EXT_SER_LEVEL_DAILY (ID, GMT_CREATED, GMT_MODIFIED,
      DOMAIN_ID, APP_ID, STAT_TIME, 
      SKILL, SERVICE_LEVEL, CNT,
      UNIQUE_KEY)
    values (#{id,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{domainId,jdbcType=DECIMAL}, #{appId,jdbcType=DECIMAL}, #{statTime,jdbcType=DECIMAL}, 
      #{skill,jdbcType=VARCHAR}, #{serviceLevel,jdbcType=DECIMAL}, #{cnt,jdbcType=DECIMAL},
      #{uniqueKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdExtServiceLevelDailyPO">
    <!--@mbg.generated-->
    insert into JRTC_ACD_EXT_SER_LEVEL_DAILY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
      <if test="domainId != null">
        DOMAIN_ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="statTime != null">
        STAT_TIME,
      </if>
      <if test="skill != null">
        SKILL,
      </if>
      <if test="serviceLevel != null">
        SERVICE_LEVEL,
      </if>
      <if test="cnt != null">
        CNT,
      </if>
      <if test="uniqueKey != null">
        UNIQUE_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="domainId != null">
        #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=DECIMAL},
      </if>
      <if test="statTime != null">
        #{statTime,jdbcType=DECIMAL},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="serviceLevel != null">
        #{serviceLevel,jdbcType=DECIMAL},
      </if>
      <if test="cnt != null">
        #{cnt,jdbcType=DECIMAL},
      </if>
      <if test="uniqueKey != null">
        #{uniqueKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdExtServiceLevelDailyPO">
    <!--@mbg.generated-->
    update JRTC_ACD_EXT_SER_LEVEL_DAILY
    <set>
      <if test="gmtCreated != null">
        GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="domainId != null">
        DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=DECIMAL},
      </if>
      <if test="statTime != null">
        STAT_TIME = #{statTime,jdbcType=DECIMAL},
      </if>
      <if test="skill != null">
        SKILL = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="serviceLevel != null">
        SERVICE_LEVEL = #{serviceLevel,jdbcType=DECIMAL},
      </if>
      <if test="cnt != null">
        CNT = #{cnt,jdbcType=DECIMAL},
      </if>
      <if test="uniqueKey != null">
        UNIQUE_KEY = #{uniqueKey,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdExtServiceLevelDailyPO">
    <!--@mbg.generated-->
    update JRTC_ACD_EXT_SER_LEVEL_DAILY
    set GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      APP_ID = #{appId,jdbcType=DECIMAL},
      STAT_TIME = #{statTime,jdbcType=DECIMAL},
      SKILL = #{skill,jdbcType=VARCHAR},
      SERVICE_LEVEL = #{serviceLevel,jdbcType=DECIMAL},
      CNT = #{cnt,jdbcType=DECIMAL},
      UNIQUE_KEY = #{uniqueKey,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateAddValueByUniqueKey">
    update JRTC_ACD_EXT_SER_LEVEL_DAILY
    <set>
      <if test="cnt != null">
        CNT = CNT + #{cnt,jdbcType=DECIMAL},
      </if>
        GMT_MODIFIED = CURRENT_TIMESTAMP
    </set>
    where UNIQUE_KEY = #{uniqueKey,jdbcType=VARCHAR}
  </update>
  <select id="selectByUniqueKey" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from JRTC_ACD_EXT_SER_LEVEL_DAILY
    where UNIQUE_KEY = #{uniqueKey,jdbcType=VARCHAR}
  </select>
</mapper>