<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juphoon.rtc.datacenter.mapper.JrtcMonitorRoomConcurrentMapper">
    <resultMap id="BaseResultMap" type="com.juphoon.rtc.datacenter.entity.po.monitor.MonitorRoomConcurrentPO">
        <result column="DOMAIN_ID" jdbcType="DECIMAL" property="domainId"/>
        <result column="APP_ID" jdbcType="DECIMAL" property="appId"/>
        <result column="FROM" jdbcType="VARCHAR" property="from"/>
        <result column="TIMESTAMP" jdbcType="DECIMAL" property="timestamp"/>
        <result column="ROOM" jdbcType="DECIMAL" property="room"/>
        <result column="ACTOR" jdbcType="DECIMAL" property="actor"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, gmt_created, gmt_modified, DOMAIN_ID, APP_ID, `FROM`, `TIMESTAMP`, ROOM, ACTOR
    </sql>

    <select id="selectCount">
        select sum(ROOM) as 'ROOM', sum(ACTOR) as 'ACTOR'
        from jrtc_monitor_room_concurrent
        where `TIMESTAMP` > #{timestamp,jdbcType=DECIMAL}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.juphoon.rtc.datacenter.entity.po.monitor.MonitorRoomConcurrentPO"
            useGeneratedKeys="true">
        insert into jrtc_monitor_room_concurrent (DOMAIN_ID, APP_ID, `FROM`, `TIMESTAMP`, ROOM, ACTOR)
        values (#{domainId,jdbcType=DECIMAL}, #{appId,jdbcType=DECIMAL}, #{from,jdbcType=VARCHAR},
        #{timestamp,jdbcType=DECIMAL}, #{room,jdbcType=DECIMAL}, #{actor,jdbcType=DECIMAL})
    </insert>

    <update id="updateByFromAndDomainIdAndAppId"
            parameterType="com.juphoon.rtc.datacenter.entity.po.monitor.MonitorRoomConcurrentPO">
        update jrtc_monitor_room_concurrent
        <set>
            <if test="timestamp != null">
                `TIMESTAMP` = #{timestamp,jdbcType=DECIMAL},
            </if>
            <if test="room != null">
                ROOM = #{room,jdbcType=DECIMAL},
            </if>
            <if test="actor != null">
                ACTOR = #{actor,jdbcType=DECIMAL},
            </if>
        </set>
        where
        `FROM` = #{from,jdbcType=VARCHAR} and
        `DOMAIN_ID` = #{domainId,jdbcType=DECIMAL} and
        `APP_ID` = #{appId,jdbcType=DECIMAL};
    </update>
</mapper>