<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juphoon.rtc.datacenter.servicecore.mapper.AcdAgentOpCheckinDailyMapper">
  <resultMap id="BaseResultMap" type="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdAgentOpCheckinDailyPO">
    <!--@mbg.generated-->
    <!--@Table JRTC_ACD_AGENTOP_CHECKIN_DAILY-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="DOMAIN_ID" jdbcType="DECIMAL" property="domainId" />
    <result column="APP_ID" jdbcType="DECIMAL" property="appId" />
    <result column="STAT_TIME" jdbcType="DECIMAL" property="statTime" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="SHIFT" jdbcType="VARCHAR" property="shift" />
    <result column="TEAM" jdbcType="VARCHAR" property="team" />
    <result column="FIRST_CHECKIN" jdbcType="DECIMAL" property="firstCheckin" />
    <result column="LAST_CHECKIN" jdbcType="DECIMAL" property="lastCheckin" />
    <result column="LAST_CHECKOUT" jdbcType="DECIMAL" property="lastCheckout" />
    <result column="UNIQUE_KEY" jdbcType="VARCHAR" property="uniqueKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, GMT_CREATED, GMT_MODIFIED, DOMAIN_ID, APP_ID, STAT_TIME, AGENT_ID, SHIFT, TEAM, 
    FIRST_CHECKIN, LAST_CHECKIN, LAST_CHECKOUT, UNIQUE_KEY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from JRTC_ACD_AGENTOP_CHECKIN_DAILY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdAgentOpCheckinDailyPO">
    <!--@mbg.generated-->
    insert into JRTC_ACD_AGENTOP_CHECKIN_DAILY (ID, GMT_CREATED, GMT_MODIFIED,
      DOMAIN_ID, APP_ID, STAT_TIME, 
      AGENT_ID, SHIFT, TEAM, 
      FIRST_CHECKIN, LAST_CHECKIN, LAST_CHECKOUT,
      UNIQUE_KEY)
    values (#{id,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{domainId,jdbcType=DECIMAL}, #{appId,jdbcType=DECIMAL}, #{statTime,jdbcType=DECIMAL},
      #{agentId,jdbcType=VARCHAR}, #{shift,jdbcType=VARCHAR}, #{team,jdbcType=VARCHAR},
      #{firstCheckin,jdbcType=DECIMAL}, #{lastCheckin,jdbcType=DECIMAL}, #{lastCheckout,jdbcType=DECIMAL},
      #{uniqueKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdAgentOpCheckinDailyPO">
    <!--@mbg.generated-->
    insert into JRTC_ACD_AGENTOP_CHECKIN_DAILY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
      <if test="domainId != null">
        DOMAIN_ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="statTime != null">
        STAT_TIME,
      </if>
      <if test="agentId != null">
        AGENT_ID,
      </if>
      <if test="shift != null">
        SHIFT,
      </if>
      <if test="team != null">
        TEAM,
      </if>
      <if test="firstCheckin != null">
        FIRST_CHECKIN,
      </if>
      <if test="lastCheckin != null">
        LAST_CHECKIN,
      </if>
      <if test="lastCheckout != null">
        LAST_CHECKOUT,
      </if>
      <if test="uniqueKey != null">
        UNIQUE_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="domainId != null">
        #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=DECIMAL},
      </if>
      <if test="statTime != null">
        #{statTime,jdbcType=DECIMAL},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="shift != null">
        #{shift,jdbcType=VARCHAR},
      </if>
      <if test="team != null">
        #{team,jdbcType=VARCHAR},
      </if>
      <if test="firstCheckin != null">
        #{firstCheckin,jdbcType=DECIMAL},
      </if>
      <if test="lastCheckin != null">
        #{lastCheckin,jdbcType=DECIMAL},
      </if>
      <if test="lastCheckout != null">
        #{lastCheckout,jdbcType=DECIMAL},
      </if>
      <if test="uniqueKey != null">
        #{uniqueKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdAgentOpCheckinDailyPO">
    <!--@mbg.generated-->
    update JRTC_ACD_AGENTOP_CHECKIN_DAILY
    <set>
      <if test="gmtCreated != null">
        GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="domainId != null">
        DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=DECIMAL},
      </if>
      <if test="statTime != null">
        STAT_TIME = #{statTime,jdbcType=DECIMAL},
      </if>
      <if test="agentId != null">
        AGENT_ID = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="shift != null">
        SHIFT = #{shift,jdbcType=VARCHAR},
      </if>
      <if test="team != null">
        TEAM = #{team,jdbcType=VARCHAR},
      </if>
      <if test="firstCheckin != null">
        FIRST_CHECKIN = #{firstCheckin,jdbcType=DECIMAL},
      </if>
      <if test="lastCheckin != null">
        LAST_CHECKIN = #{lastCheckin,jdbcType=DECIMAL},
      </if>
      <if test="lastCheckout != null">
        LAST_CHECKOUT = #{lastCheckout,jdbcType=DECIMAL},
      </if>
      <if test="uniqueKey != null">
        UNIQUE_KEY = #{uniqueKey,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.acdstat.AcdAgentOpCheckinDailyPO">
    <!--@mbg.generated-->
    update JRTC_ACD_AGENTOP_CHECKIN_DAILY
    set GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      APP_ID = #{appId,jdbcType=DECIMAL},
      STAT_TIME = #{statTime,jdbcType=DECIMAL},
      AGENT_ID = #{agentId,jdbcType=VARCHAR},
      SHIFT = #{shift,jdbcType=VARCHAR},
      TEAM = #{team,jdbcType=VARCHAR},
      FIRST_CHECKIN = #{firstCheckin,jdbcType=DECIMAL},
      LAST_CHECKIN = #{lastCheckin,jdbcType=DECIMAL},
      LAST_CHECKOUT = #{lastCheckout,jdbcType=DECIMAL},
      UNIQUE_KEY = #{uniqueKey,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateLastCheckByUniqueKey">
    update JRTC_ACD_AGENTOP_CHECKIN_DAILY
    <set>
      <if test="lastCheckin != null">
        LAST_CHECKIN = #{lastCheckin,jdbcType=BIGINT},
      </if>
      <if test="lastCheckout != null">
        LAST_CHECKOUT = #{lastCheckout,jdbcType=BIGINT},
      </if>
        GMT_MODIFIED = CURRENT_TIMESTAMP
    </set>
    where UNIQUE_KEY = #{uniqueKey,jdbcType=VARCHAR}
  </update>
  <update id="updateFirstCheckByUniqueKey">
    update JRTC_ACD_AGENTOP_CHECKIN_DAILY
    <set>
      <if test="firstCheckin != null">
        FIRST_CHECKIN = #{firstCheckin,jdbcType=BIGINT},
      </if>
      <if test="lastCheckin != null">
        LAST_CHECKIN = #{lastCheckin,jdbcType=BIGINT},
      </if>
        GMT_MODIFIED = CURRENT_TIMESTAMP
    </set>
    where UNIQUE_KEY = #{uniqueKey,jdbcType=VARCHAR}
  </update>
  <select id="selectByUniqueKey" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from JRTC_ACD_AGENTOP_CHECKIN_DAILY
    where UNIQUE_KEY = #{uniqueKey,jdbcType=VARCHAR}
  </select>
  <select id="selectByShiftAndAgentId" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from JRTC_ACD_AGENTOP_CHECKIN_DAILY
    where SHIFT = #{shift,jdbcType=VARCHAR} and AGENT_ID = #{agentId,jdbcType=VARCHAR}
  </select>
</mapper>