<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juphoon.rtc.datacenter.servicecore.mapper.MonitorAcdQueueCountMapper">
    <resultMap id="BaseResultMap" type="com.juphoon.rtc.datacenter.servicecore.entity.po.monitor.MonitorAcdQueueCountPO">
        <result column="DOMAIN_ID" jdbcType="DECIMAL" property="domainId"/>
        <result column="APP_ID" jdbcType="DECIMAL" property="appId"/>
        <result column="QUEUE" jdbcType="VARCHAR" property="queue"/>
        <result column="FROM_SERVER" jdbcType="VARCHAR" property="from"/>
        <result column="UPDATE_TIMESTAMP" jdbcType="DECIMAL" property="timestamp"/>
        <result column="CNT" jdbcType="DECIMAL" property="count"/>
        <result column="EVENT_TYPE" jdbcType="DECIMAL" property="type"/>
        <result column="EVENT_NUMBER" jdbcType="DECIMAL" property="number"/>
    </resultMap>

    <sql id="Base_Column_List">
        DOMAIN_ID, APP_ID, QUEUE, FROM_SERVER, UPDATE_TIMESTAMP, CNT, "TYPE", "NUMBER"
    </sql>

    <select id="selectSumCountByQueue" parameterType="java.lang.String" resultType="java.lang.Integer">
        select sum(CNT)
        from JRTC_MONITOR_ACD_QUEUE_COUNT
        where QUEUE = #{queue, jdbcType=VARCHAR}
    </select>

    <insert id="insert"
            parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.monitor.MonitorAcdQueueCountPO">
        insert into JRTC_MONITOR_ACD_QUEUE_COUNT (DOMAIN_ID, APP_ID, QUEUE, FROM_SERVER, UPDATE_TIMESTAMP, CNT, EVENT_TYPE, EVENT_NUMBER)
        values (#{domainId,jdbcType=DECIMAL}, #{appId,jdbcType=DECIMAL}, #{queue,jdbcType=VARCHAR}, #{from,jdbcType=VARCHAR},
          #{timestamp,jdbcType=DECIMAL}, #{count,jdbcType=DECIMAL}, #{type,jdbcType=DECIMAL}, #{number,jdbcType=DECIMAL})
    </insert>

    <update id="updateByQueueAndFrom"
            parameterType="com.juphoon.rtc.datacenter.servicecore.entity.po.monitor.MonitorAcdQueueCountPO">
        update JRTC_MONITOR_ACD_QUEUE_COUNT
        <set>
            UPDATE_TIMESTAMP = #{timestamp,jdbcType=DECIMAL},
            CNT = #{count,jdbcType=DECIMAL}
        </set>
        where
        QUEUE = #{queue,jdbcType=VARCHAR} and
        FROM_SERVER = #{from,jdbcType=VARCHAR} and
        EVENT_TYPE = #{type,jdbcType=DECIMAL} and
        EVENT_NUMBER = #{number,jdbcType=DECIMAL}
    </update>

</mapper>