<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juphoon.rtc.datacenter.binlog.mapper.persistent.PersistentRedoLogMapper">

    <insert id="initTable">
        create table redo_log
        (
            id        integer     not null
                constraint redo_log_pk
                    primary key autoincrement,
            uuid      varchar(32) not null,
            domain    integer     not null,
            app       integer     not null,
            type      integer     not null,
            number    integer     not null,
            timestamp bigint      not null,
            processor varchar(64) not null,
            handler   varchar(64) not null,
            params    text
        );

        create index redo_log_ts_index
            on redo_log (timestamp);

        create unique index redo_log_uuid_uindex
            on redo_log (uuid);
    </insert>

</mapper>