<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juphoon.rtc.datacenter.mapper.AcdAgentOpStatDailyMapper">
  <resultMap id="BaseResultMap" type="com.juphoon.rtc.datacenter.entity.po.acdstat.AcdAgentOpStatDailyPO">
    <!--@mbg.generated-->
    <!--@Table jrtc_acd_agentop_stat_daily-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="domain_id" jdbcType="INTEGER" property="domainId" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="stat_time" jdbcType="BIGINT" property="statTime" />
    <result column="agent_id" jdbcType="VARCHAR" property="agentId" />
    <result column="shift" jdbcType="VARCHAR" property="shift" />
    <result column="team" jdbcType="VARCHAR" property="team" />
    <result column="skill" jdbcType="VARCHAR" property="skill" />
    <result column="event_type" jdbcType="SMALLINT" property="eventType" />
    <result column="event_num" jdbcType="SMALLINT" property="eventNum" />
    <result column="end_type" jdbcType="SMALLINT" property="endType" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
    <result column="cnt" jdbcType="INTEGER" property="cnt" />
    <result column="ext_status" jdbcType="SMALLINT" property="extStatus" />
    <result column="unique_key" jdbcType="VARCHAR" property="uniqueKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_created, gmt_modified, domain_id, app_id, stat_time, agent_id, shift, team,
    skill, event_type, event_num, end_type, duration, cnt, ext_status, unique_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from jrtc_acd_agentop_stat_daily
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from jrtc_acd_agentop_stat_daily
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.juphoon.rtc.datacenter.entity.po.acdstat.AcdAgentOpStatDailyPO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jrtc_acd_agentop_stat_daily (gmt_created, gmt_modified, domain_id,
      app_id, stat_time, agent_id,
      shift, team, skill,
      event_type, event_num, end_type,
      duration, cnt, ext_status,
      unique_key)
    values (#{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{domainId,jdbcType=INTEGER},
      #{appId,jdbcType=INTEGER}, #{statTime,jdbcType=BIGINT}, #{agentId,jdbcType=VARCHAR},
      #{shift,jdbcType=VARCHAR}, #{team,jdbcType=VARCHAR}, #{skill,jdbcType=VARCHAR},
      #{eventType,jdbcType=SMALLINT}, #{eventNum,jdbcType=SMALLINT}, #{endType,jdbcType=SMALLINT},
      #{duration,jdbcType=BIGINT}, #{cnt,jdbcType=INTEGER}, #{extStatus,jdbcType=SMALLINT},
      #{uniqueKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.juphoon.rtc.datacenter.entity.po.acdstat.AcdAgentOpStatDailyPO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into jrtc_acd_agentop_stat_daily
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="domainId != null">
        domain_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="statTime != null">
        stat_time,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="shift != null">
        shift,
      </if>
      <if test="team != null">
        team,
      </if>
      <if test="skill != null">
        skill,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="eventNum != null">
        event_num,
      </if>
      <if test="endType != null">
        end_type,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="cnt != null">
        cnt,
      </if>
      <if test="extStatus != null">
        ext_status,
      </if>
      <if test="uniqueKey != null">
        unique_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="domainId != null">
        #{domainId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="statTime != null">
        #{statTime,jdbcType=BIGINT},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="shift != null">
        #{shift,jdbcType=VARCHAR},
      </if>
      <if test="team != null">
        #{team,jdbcType=VARCHAR},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=SMALLINT},
      </if>
      <if test="eventNum != null">
        #{eventNum,jdbcType=SMALLINT},
      </if>
      <if test="endType != null">
        #{endType,jdbcType=SMALLINT},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="cnt != null">
        #{cnt,jdbcType=INTEGER},
      </if>
      <if test="extStatus != null">
        #{extStatus,jdbcType=SMALLINT},
      </if>
      <if test="uniqueKey != null">
        #{uniqueKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juphoon.rtc.datacenter.entity.po.acdstat.AcdAgentOpStatDailyPO">
    <!--@mbg.generated-->
    update jrtc_acd_agentop_stat_daily
    <set>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="domainId != null">
        domain_id = #{domainId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="statTime != null">
        stat_time = #{statTime,jdbcType=BIGINT},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="shift != null">
        shift = #{shift,jdbcType=VARCHAR},
      </if>
      <if test="team != null">
        team = #{team,jdbcType=VARCHAR},
      </if>
      <if test="skill != null">
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=SMALLINT},
      </if>
      <if test="eventNum != null">
        event_num = #{eventNum,jdbcType=SMALLINT},
      </if>
      <if test="endType != null">
        end_type = #{endType,jdbcType=SMALLINT},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=BIGINT},
      </if>
      <if test="cnt != null">
        cnt = #{cnt,jdbcType=INTEGER},
      </if>
      <if test="extStatus != null">
        ext_status = #{extStatus,jdbcType=SMALLINT},
      </if>
      <if test="uniqueKey != null">
        unique_key = #{uniqueKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juphoon.rtc.datacenter.entity.po.acdstat.AcdAgentOpStatDailyPO">
    <!--@mbg.generated-->
    update jrtc_acd_agentop_stat_daily
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      domain_id = #{domainId,jdbcType=INTEGER},
      app_id = #{appId,jdbcType=INTEGER},
      stat_time = #{statTime,jdbcType=BIGINT},
      agent_id = #{agentId,jdbcType=VARCHAR},
      shift = #{shift,jdbcType=VARCHAR},
      team = #{team,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=VARCHAR},
      event_type = #{eventType,jdbcType=SMALLINT},
      event_num = #{eventNum,jdbcType=SMALLINT},
      end_type = #{endType,jdbcType=SMALLINT},
      duration = #{duration,jdbcType=BIGINT},
      cnt = #{cnt,jdbcType=INTEGER},
      ext_status = #{extStatus,jdbcType=SMALLINT},
      unique_key = #{uniqueKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>