<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juphoon.rtc.datacenter.sqlite.mapper.MyBatisAccountMapper">

    <select id="createTable">
        create table t_account
        (
            id   INTEGER,
            account INTEGER
        );
    </select>

    <select id="selectA" resultType="java.util.HashMap">
        select * from t_account tac
        where tac.account = #{account}
    </select>

    <select id="selectInnerJoin" resultType="java.util.HashMap">
        select * from t_account tac
        inner join t_address tad on tac.account = tad.account
        where tac.account = #{account}
    </select>

    <insert id="insertBatch" parameterType="com.juphoon.rtc.datacenter.sqlite.entity.Account">
        insert into t_account
        values
        <foreach collection="accounts" item="account" open="(" close=")" separator="),(">
            #{account.id},#{account.account}
        </foreach>
    </insert>
</mapper>