<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juphoon.rtc.datacenter.binlog.mapper.flash.FlashStateLogMapper">

    <resultMap id="statePoResultMap" type="com.juphoon.rtc.datacenter.binlog.entity.StateBinLogPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="requestId" property="requestId" jdbcType="VARCHAR"/>
        <result column="from" property="from" jdbcType="VARCHAR"/>
        <result column="processorId" property="processorId" jdbcType="VARCHAR"/>
        <result column="receivedTimestamp" property="receivedTimestamp" jdbcType="INTEGER"/>
        <result column="redoHandler" property="redoHandler" jdbcType="VARCHAR"/>
        <result column="retryCount" property="retryCount" jdbcType="INTEGER"/>

        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="domainId" property="domainId" jdbcType="INTEGER"/>
        <result column="appId" property="appId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="params" property="params" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <update id="dropTable">
        DROP TABLE IF EXISTS state_binlog;
    </update>

    <update id="createTable">
        create table IF NOT EXISTS `state_binlog`
        (
            `id`          integer not null constraint state_log_pk primary key,
            `requestId`   varchar(32) not null,
            `from`        varchar(64) not null,
            `processorId` varchar(32) not null,
            `receivedTimestamp`   integer not null,
            `redoHandler` varchar(32),
            `retryCount`  int not null,

            `uuid`      varchar(64) not null,
            `domainId`  int         not null,
            `appId`     int         not null,
            `type`      int         not null,
            `state`     int         not null,
            `params`    text
        );
    </update>

    <insert id="save"
            parameterType="com.juphoon.rtc.datacenter.binlog.entity.StateBinLogPO"
            statementType="PREPARED">
        INSERT INTO `state_binlog`(`id`, `requestId`, `from`, `processorId`, `receivedTimestamp`, `redoHandler`,
        `retryCount`, `domainId`, `appId`, `uuid`, `type`, `state`, `params`)
        VALUES (#{id}, #{requestId}, #{from}, #{processorId}, #{receivedTimestamp}, #{redoHandler},
        #{retryCount}, #{domainId}, #{appId}, #{uuid}, #{type}, #{state}, #{params});
    </insert>

    <insert id="saveList">
        INSERT INTO `state_binlog`(`id`, `requestId`, `from`, `processorId`, `receivedTimestamp`, `redoHandler`,
        `retryCount`, `domainId`, `appId`, `uuid`, `type`, `state`, `params`) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.requestId}, #{item.from}, #{item.processorId}, #{item.receivedTimestamp},
            #{item.redoHandler},
            #{item.retryCount}, #{item.domainId}, #{item.appId}, #{item.uuid}, #{item.type}, #{item.state},
            #{item.params})
        </foreach>
    </insert>

    <delete id="remove">
        DELETE FROM `state_binlog` WHERE `id`=#{id};
    </delete>

    <select id="findById" resultMap="statePoResultMap">
        SELECT `id`, `requestId`, `from`, `processorId`, `receivedTimestamp`, `redoHandler`, `retryCount`, `domainId`,
        `appId`, `uuid`, `type`, `state`, `params`
        FROM `state_binlog`
        WHERE `id`=#{id};
    </select>
</mapper>